<%= simple_form_for @photo_upload, html: {multipart: true} do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.hidden_field :image, value: @photo_upload.cached_image_data %>
        <%= f.file_field :image %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
    <% end %>