<p id="notice">
  <%= notice %>
</p>

<h1>Photo Uploads</h1>

<table>
  <thead>
    <tr>
      <th>Image data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photo_uploads.each do |photo_upload| %>
      <tr>
        <td>
          <%= photo_upload.image_data %>

        </td>
        <td>
          <%= image_tag photo_upload.image_url(:thumb) %>
        </td>
        <td>
          <%= link_to 'Show', photo_upload %>
        </td>
        <td>
          <%= link_to 'Edit', edit_photo_upload_path(photo_upload) %>
        </td>
        <td>
          <%= link_to 'Destroy', photo_upload, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo Upload', new_photo_upload_path %>