<% provide(:page_title, @post.title) %>
  <% provide(:post_active, "active") %>
    <div class="">


      <div class="card px-3 py-5">
        <div class="text-center pb-3 ">
          <small class="font-weight-bold">Today:
            <%= Time.now.strftime('%B %-d, %Y') %>
          </small>
        </div>

        <div class="text-center">
          <h2 class="font-weight-bold">
            <%= @post.title %>
          </h2>
          <h6>Author:
            <strong>
              <%= @post.odogwu.try (:firstname) %>
                <%= @post.odogwu.try(:lastname) %>
            </strong>
            <div class="published-date">
              <small>
                <%= @post.display_day_published %>
              </small>
              |
              <small>Category:
                <%= link_to @post.category.clan %>
              </small>

              <div class="page-count">
                <span class="pageviews">Total Page views:
                  <%= @post.impressionist_count %>
                </span> |
                <span class="pageviews">Unique Page Views:
                  <%= @post.impressionist_count(:filter=>:session_hash) %>
                </span>
              </div>
              <div class="social-share-button mt-2">Share this post:
                <%= social_share_button_tag(@post.title) %>
              </div>
            </div>
        </div>



        <hr class="style17 mb-5 mt-0">

        <div class="col-sm-12 col-md-10 text-justify mx-auto px-1" id="post-show-body">
          <h6 class="body-text ">
            <%= sanitize @post.body %>
          </h6>
        </div>
        <div class="social-share-button mt-2 text-center">Share this post:
          <%= social_share_button_tag(@post.title) %>
        </div>
        <hr class="style18 mb-2">

        <div class="form-actions">
          <% if odogwu_signed_in? %>
            <div class="pb-4">
              <%= link_to 'Edit', edit_post_path(@post) %> |
                <%= link_to 'Back', posts_path %>
            </div>
            <% else %>
              <div class="pb-4">
                <%= link_to 'Back', posts_path %>
              </div>
              <% end %>
        </div>

        <%= render  'author' %>
      </div>
      <div class="disqus col-sm-10 col-md-10 mx-auto">
        <%= render 'posts/disqus' %>
      </div>
    </div>