<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class='container nav-padding'>
    <a class="navbar-brand" href="/">
      <span align=center>
        <%=image_tag("Passport.jpg")%>
      </span> Odogwudozilla

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">&#9776;
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Blog', posts_path, class: "nav-link #{yield(:post_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Projects', static_pages_projects_path, class: "nav-link #{yield(:projects_active)}" %>
        </li>
        <% if current_odogwu %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-capitalize" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-user-circle"></i>
            </a>
            <div class="dropdown-menu text-centre">
              <a class="dropdown-item nav-item">
                Signed in as
                <%= current_odogwu.email %>
              </a>

              <%= link_to current_odogwu.username, edit_odogwu_registration_path, :method => :get, class: "dropdown-item nav-item" %>

                <%= link_to 'Sign out', destroy_odogwu_session_path, :method => :delete, class: "dropdown-item nav-item" %>

          </li>
          <% else %>
            <li class="nav-item nav-link">
              <%= 'Welcome!'  %>
            </li>

            <% end %>


      </ul>
      <form class="form-inline my-lg-0 search-bar">
        <input class="ml-3" type="search" placeholder="Search this site..." aria-label="Search">
        <a target="_blank" href="">
          <i class="fas fa-search"></i>
        </a>

      </form>
      </div>
    </div>
</nav>