<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class='container nav-padding'>
    <a class="navbar-brand" href="/">
      <span align=center>
        <%=image_tag("Passport.jpg")%>
      </span> Odogwudozilla

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">&#9776;
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Blog', posts_path, class: "nav-link #{yield(:post_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Projects', "#", class: "nav-link" %>
        </li>
        <% if current_odogwu %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin
            </a>
            <div class="dropdown-menu text-centre">
              <a class="dropdown-item nav-item">
                Signed in as
                <%= current_odogwu.email %>
              </a>

              <%= link_to 'Sign out', destroy_odogwu_session_path, :method => :delete, class: "dropdown-item nav-item" %>

          </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Login', new_odogwu_session_path, class: "nav-link"  %>
            </li>

            <% end %>


              <li class="nav-item">
                <%= link_to 'Contact', static_pages_contact_path, class: "nav-link #{yield(:contact_active)}" %>
              </li>

      </ul>
      <form class="form-inline my-lg-0 search-bar">
        <input class="ml-3" type="search" placeholder="Search this site..." aria-label="Search">

      </form>
      </div>
    </div>
</nav>